@import '../../node_modules/bootstrap/scss/bootstrap-grid.scss';
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

$bootstrap-sm: map-get($grid-breakpoints, sm);
$bootstrap-md: map-get($grid-breakpoints, md);
$bootstrap-lg: map-get($grid-breakpoints, lg);
$bootstrap-xl: map-get($grid-breakpoints, xl);

$bg-color: #333333;
$color: #eeeeee;
$color-light: #ffffff;

// general
body {
  background: $bg-color;
  color: $color;
  font-family: 'Raleway', sans-serif;
  position: relative;
}

p {
  font-size: 1rem;
}

hr {
  border-top: 1px solid $color;
}

a {
  color: $color;

  &:hover, &:active, &:visited {
    text-decoration: none;
    color: $color;
  }
}

.bg-color {
  background: $bg-color;
}

.my-border {
  border: 1px solid $color;
}

.my-border-top {
  border-top: 1px solid $color;
}

.my-border-bottom {
  border-bottom: 1px solid $color;
}

div.header {
  font-size: 1.5rem;
  margin: .5rem 0 1rem 0;
}

// scrollSpy
.my-offset:before {
  height: 11rem;
  margin-top: -11rem;
  content: "";
  display: block;
}

@include media-breakpoint-down(sm) {
  .my-offset:before {
    height: 4rem;
    margin-top: -4rem;
    content: "";
    display: block;
  }
}

// header
#header {
  background: $bg-color;

  hr {
    margin: 0;
    padding: 0;
    border: none;
    height: 1px;
    color: white;
    background-color: white;
  }

  h3 {
    a {
      color: $color;

      &:hover, &:active, &:visited {
        text-decoration: none;
      }
    }
  }
}

// navbar
#navbarContent {
  font-variant: small-caps;
}

.navbar {
  padding-right: .5rem;
  font-size: 1rem;
  font-weight: 700;
  min-height: 4rem;
  position: relative;

  .navbar-brand {
    position: absolute;
    top: 35px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 1.2;
  }

  .custom-toggler {
    position: absolute;
    top: 35px;
    left: 95%;
    transform: translate(-50%, -50%);

    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(238,238,238, 1)' stroke-width='1' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
  }

  .custom-toggler.navbar-toggler {
    border: none;
  }

  .navbar-collapse {
    padding-top: 1rem;
  }
}

.navbar-nav {
  li {
    padding-right: .6rem;
  }
}

.navbar-dark .navbar-nav {
  .nav-link:active, .nav-link:focus, .nav-link:hover {
    color: $color;
  }
}

@include media-breakpoint-up(md) {
  .navbar {
    padding-top: 1rem;
    padding-bottom: .8rem;
    letter-spacing: .1rem;
  }
}

// carousel
.carousel {
  padding-top: 1rem;
  margin-top: 0;
  margin-bottom: 3rem;
}

.carousel-caption {
  padding-top: .1rem;
  padding-bottom: .1rem;
  background: rgba(51, 51, 51, .3);
  right: 20%;
  left: 20%;
}

.carousel a {
  color: $color-light;
}

.carousel-fade {
  .carousel-item {
    opacity: 0;
    transition-duration: .7s;
    transition-property: opacity;
  }
}

.carousel-fade {
  .carousel-item.active, .carousel-item-next.carousel-item-left, .carousel-item-prev.carousel-item-right {
    opacity: 1;
  }
}

.carousel-fade {
  .active.carousel-item-left, .active.carousel-item-right {
    opacity: 0;
  }
}

.carousel-indicators {
  li {
    width: 10px;
    height: 10px;
    background-color: transparent;
    border-radius: 100%;
    border: 1px solid $color;
  }
}

.carousel-indicators {
  .active {
    background-color: $color;
  }
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  background-image: none;
}

.carousel-control-next-icon:after {
  content: '>';
  font-size: 1.5rem;
  color: $color;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 1.5rem;
  color: $color;
}

#home {
  .title {
    margin: 2rem 0 0 0;
  }
}

// gallery
.myGallery {

  > div {
    padding-top: 15px;
    padding-bottom: 15px;

    img {
      cursor: zoom-in;
      transition: transform .3s ease;

      &:hover {
        transform: scale(1.3);
      }
    }
  }
}

// modal
.modal {
  .modal-dialog {
    .modal-content {
      background: $bg-color;
      border: none;
      background: $color;

      .modal-body {
        background: $bg-color;
        margin: .5rem .5rem .5rem .5rem;
        padding: 0;

        .carousel {
          margin: 0;
          padding: 0;
        }
      }
    }
  }
}