@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

$bg-color: #333333;
$color: #eeeeee;

body {
  background: $bg-color;
  color: $color;
  font-family: 'Raleway', sans-serif;
}